.result-nav {
  display: none;
}
.score-bar {
  display: flex;
  gap: 16px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff33;
  padding: 14px 54px 14px 54px;
}
.logo-card {
  display: flex;
  color: #ffffff;
}
.logo-name {
  font-size: 24px;
}
.logo {
  width: 60px;
  margin-right: 7px;
}
.nav-score {
  color: #ffffff;
  font-size: 20px;
}
@media screen and (max-width: 576px) {
  .nav-bar {
    padding: 7px 20px 7px 20px;
  }
  .logo-name {
    font-size: 18px;
    margin-top: 13px;
  }
  .logo {
    width: 40px;
    height: 40px;
    align-self: center;
  }
  .nav-score {
    font-size: 16px;
  }
}
